<h2>Students List</h2>
<div class="container">
   
    <input type="button" value="Go to Add Student" class="btn" id="add" routerLink="/add"> 
    <table class="table">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Reg No</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of ulist;let i=index ">   
                <td>{{i+1}}</td>
                <td>{{u.regno}}</td>
                <td>{{u.fname}}</td>
                <td>{{u.lname}}</td>
                <td>{{u.email}}</td>
                <td>{{u.mobile}}</td>
                <td>
 <!-- using interpolation we pass id to the url, and need to change path app-routing.module.ts to match this url  -->
                    <span class="btn btn-sm" id="edit" routerLink="/edit/{{u.id}}">Edit</span> &nbsp; 
                    <span class="btn btn-sm" id="delete"(click)="removeEmployee(u.id)">Delete</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>